.bg 
{ background: #FCFCFD;}

.jum1
{
	margin: 20px;
	background-image: url("Images/clothesback.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #020202;

}
.parShop
{
	text-align: center;
	margin-top:150px;
}
.hr1
{
	margin-top:70px;
	margin-left:30px;
	margin-right: 30px
}
.hr2
{
	
	margin-left:30px;
	margin-right: 30px
}

.butStyle
{
	text-align: center;
}